.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 16px;
}

.login-form__input {
  max-width: 300px;
  width: 100%;
}

.login-form__button {
  align-self: center;
}

.login-form__register {
  display: flex;
  align-items: center;
  gap: 8px;
}